html {
    font-size: 62.5%;;
    box-sizing: border-box;

    /**Scroll**/
    scroll-behavior: smooth;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size:  16px;
    font-family: "Krub", sans-serif;
    max-width: 100rem;
    margin: 0 auto;
    
}   



span {
    color: #ee9330;
}

.super-contenedor {
    margin: 0 auto;
}

@media (min-width: 768px) {
    .super-contenedor {
        width: 100%;
    }
}

/** Navegación **/
.contenedor-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    background-color: #3c3c3c;
    max-width: 100%;    
    margin: 0 auto;
    padding: 0 1.5rem;
}

@media (max-width: 768px) {
    .contenedor-nav {
        padding: .8rem;
    }
}

.imagen-nav {
    height: 5rem;
    border-radius: 50%;
    border: 1.5px solid #ee9330 ;
}

@media (max-width: 768px) {
    .imagen-nav {
        height: 4rem;
    }
}

.cont-lista {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 3rem;
}

.enlaces-nav {
    color: #ee9330;
    font-size: 2.5rem;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
}

.enlaces-nav:hover {
    color: white;
    background-color: #ee9330;
    border-radius: .3rem;
}

.enlaces-red {
    text-decoration: none;
    color: black;
}

/**MENÚ HAMBURGUESA**/
.abrir-menu,
.cerrar-menu {
    display: none;
}

@media (max-width: 768px) {
    .abrir-menu,
    .cerrar-menu {   
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: #ee9330;
    }

    .cerrar-menu {
        color: black;
        padding: 1rem 1.5rem 0 0;
    }
    

    .cont-lista {
        display: flex;
        flex-direction: column;
        align-items: end;
        opacity: 0;
        visibility: hidden;
        row-gap: 2rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #3c3c3c;
        height: 254.5rem;
        padding-top: .5rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5) ;
    }

    .cont-lista a {
        padding: 0 1rem 0 1rem;
    }
    
    .cont-lista.ver {
        opacity: 1;
        visibility: visible;
    }

}


/** Presentación **/
.contenedorpresent {
    height: 45rem;
    margin:  auto auto auto auto;
    background-color:  #5a5955;
    max-width: 100%;
}

@media (max-width: 768px) {
    .contenedorpresent {
        height: 45rem;
    }
}

.contenedor-presentacion {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .contenedor-presentacion {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
}

.contenedor-tit-parr {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width:768px) {
    .contenedor-tit-parr {
        margin-top: 3rem;
    }
}

.titulo-presentacion {
    font-size: 3.5rem;
    margin-bottom: 0;
    width: 60rem;
    color: black;
}

@media (max-width: 768px) {
    .titulo-presentacion {
        font-size: 3rem;
        width: 100%;
        text-align: center;
    }
}

.parrafo-presentacion {
    font-size: 2rem;
    font-weight: 500;
    margin-top: 1rem;
    width: 50rem;
    color: black;
}

@media (max-width: 768px) {
    .parrafo-presentacion {
        font-size: 1.8rem;
        width: 100%;
        padding-bottom: 2rem;
        text-align: center;
    }
}

.contenedor-imagen-parr {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .contenedor-imagen-parr {
        margin-top: 3rem;
    }
}

.imagen-presentacion {
    border-radius: 25rem;
    height: 30rem;
    width: 30rem;
    border: 2px solid #ee9330 ;
}

@media (max-width: 768px) {
    .imagen-presentacion {
        border-radius: 10rem;
        height: 20rem;
        width: 20rem;
    }
}

/** Sección Proyectos **/
.color-seccion {
    height: 47rem;
    margin: auto auto auto auto;
    background-color: rgb(85, 82, 82);
    max-width: 100%;
}

@media (max-width: 768px) {
    .color-seccion {
        height: 120rem;
    }
}

.titulo-seccion {
    font-size: 3.3rem;
    font-weight: bold;
    text-align: center;
    margin: 0;
    margin-bottom: 4rem;
    background-color: #3c3c3c;
    color: #ee9330;
}

.contenedor-proyectos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 98%;
    margin: 0 auto;
    gap: 2rem;
}

@media (max-width: 768px) {
    .contenedor-proyectos {
        display: flex;
        flex-direction: column;
        max-width: 80%;
    }
}

.cont-proyec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    border: 2px solid #ee9330 ;
    border-radius: 1rem;
}

.imagen {
    border-radius: .5rem;
    height: 22rem;
    width: 20rem;
}

.proyecp {
    color: black;
    font-size: 1.7rem;
    font-weight: bold;
    width: 80%;
    text-align: center;
}

.proyecta {
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    color: #ee9330;
}

.proyecta-huerta {
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    color: #ee9330;
}

/** Hablilidades **/
.color-seccion-habilities {
    height: 35rem;
    width: 100%;
    margin: auto;
    background-color: rgb(85, 82, 82);
    overflow: hidden;
}

@media (max-width: 768px) {
    .color-seccion-habilities {
        height: 20rem;
    }
}

.slider {
    background-color: #ee9330;
    padding: 1rem;
}

.slider .slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(200px * 8);
}

@media (max-width: 768px) {
    .slider .slide-track {
        display: flex;
        animation: scroll 40s linear infinite;
        -webkit-animation: scroll 60s linear infinite;
        width: calc(200px * 8); 
    }
}

.slider .slide {
    width: 200px;
}

@media (max-width: 768px) {
    .slider .slide {
        width: 10rem;
    }
}

.slider .slide img {
    width: 200px;
}

@media (max-width: 768px) {
    .slider .slide img{
        width: 100px;
    }
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-200px * 4));
        transform: translateX(calc(-200px * 4));
    }
}
/** Formulario **/
.color-seccion-form {
    height: 60rem;
    margin: auto auto auto auto;
    background-color: #555252;
    max-width: 100%;
    padding-top: 2rem;
}

.legends {
    color: #ee9330 ;
    margin: 0;
    text-align: center;
    padding-bottom: .5rem;
    font-size: 1.5rem;
    font-weight: bold;
}

@media (min-width: 768px) {
    .legends {
        font-size: 2.2rem;
        padding-bottom: 3.5rem;
    }
}

.formulario {
    background-color:  #3c3c3c ;
    width: min(57rem, 100%);
    height: 55rem;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 1rem;
}

@media (max-width: 768px) {
    .formulario {
        width: min(47rem, 95%);
        height: 55rem;
        margin: 0 auto;
    }
}

.formulario fieldset {
    border: none;
}

.formulario legend {
    color: black;
    text-align: center;
    font-size: 1.8rem;
   text-transform: uppercase;
   font-weight: bold;
   margin-bottom: 2rem; 
}

.contenedor-campos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto 8rem;
    column-gap: 1rem;
    row-gap: 2rem;
}
.campo:nth-child(3),
.campo:nth-child(4) {
    grid-column: 1/3;
}

@media (max-width: 768px) {
    .contenedor-campos {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }
} 

.campo {
    margin-bottom: 2.1rem;
}

.campo label {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}

@media (min-width: 768px) {
    .campo label {
        font-weight: bold;
    }
}

.campo textarea {
    height: 10rem;
}

.input-text {
    width: 100%;
    border: none;
    padding: .7rem;
    border-radius: .5rem;
}

@media (min-width: 768px) {
    .input-text {
        padding: 1.2rem;
    }
}

.flex {
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 768px) {
    .flex {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

#submit {
    background-color: #ee9330 ;
    color: black;
    margin-top: 8rem;
    font-size: 2.3rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: auto;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

@media (max-width: 768px) {
    #submit {
        width: 35%;
        font-size: 2.5rem;
        text-transform: none;
        margin-top: .1rem;
    }
}

#submit:disabled {
    background: #6788ac;
    color: white;
    opacity: 0.5;
    cursor: not-allowed;
}

.w-sm-100 {
    width: auto;
}

.mensaje-error {
    font-size: 1.4rem;
    font-weight: bold;
    background-color: red;
    color: white;
    text-align: center;
    width: 20rem;
    width: 100%;
    margin: 0;
}

@media (max-width: 768px) {
    .mensaje-error {
        border-radius: .3rem;
        width: 100%;
        font-size: 1.2rem;
        margin-top: 4px;
    }
}

/**Spinner**/
.espiner {
  position: fixed;           /* ocupa toda la pantalla */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.8); /* fondo semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;             /* arriba de todo */
}

/* Folding Cube Spinner */
.sk-folding-cube {
  width: 40px;
  height: 40px;
  position: relative;
  transform: rotateZ(45deg);
}

.sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  transform: scale(1.1);
}

.sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3498db; /* color del spinner */
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  transform-origin: 100% 100%;
}

.sk-cube2 {
  transform: scale(1.1) rotateZ(90deg);
}
.sk-cube3 {
  transform: scale(1.1) rotateZ(180deg);
}
.sk-cube4 {
  transform: scale(1.1) rotateZ(270deg);
}

.sk-cube2:before {
  animation-delay: 0.3s;
}
.sk-cube3:before {
  animation-delay: 0.6s;
}
.sk-cube4:before {
  animation-delay: 0.9s;
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 
  25%, 75% {
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 
  90%, 100% {
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

/* Clases de control */
.hidden {
  display: none !important;
}
.flex {
  display: flex !important;
}

.mensaje-correcto {
    font-size: 2rem;
    font-weight: bold;
    border-radius: .3rem;
    background-color: rgb(59, 185, 59);
    color: white;
    text-align: center;
    align-items: center;
}


/**Footer**/
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: #555252;
    max-width: 100%;
}

@media (max-width: 768px) {
    .footer {
        max-width: 100%;
        text-align: center;
    }
}

.foot-p {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    margin: .5rem;
}

@media (max-width: 768px) {
    .foot-p {
        font-size: 1.5rem;
        width: 99%;
    }
}

.enlaces-footer {
    color: black;
}

.redes-footer {
    display: flex;
    column-gap: .5rem;
}